name: Project-DevOps
on: push
jobs:
 CI-Build-Test-Push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: pwd && docker-compose up --build -d 
      
      - name: Run curl Test
        run: |
          sudo apt-get update; sudo apt-get install -y curl && curl http://localhost:3000 && docker ps && pwd
          
      - name: change image name
        run: |
          cd /home/runner/work/Tomer-Joseph_project-test/Tomer-Joseph_project-test && docker tag mariadb:10.6.4-focal lordagam/project-devops:mariadb && docker tag tomer-joseph_project-test_frontend lordagam/project-devops:frontend && docker tag tomer-joseph_project-test_backend lordagam/project-devops:backend
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
     
      - name: docker push
        run: docker push lordagam/project-devops:mariadb && docker push lordagam/project-devops:backend && docker push lordagam/project-devops:frontend
   
      - uses: actions/checkout@master
      - name: Slack Notification 
        uses: bryannice/gitactions-slack-notification@2.0.0
        env:
         SLACK_INCOMING_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK }}
         SLACK_MESSAGE: 'DevOps pipeline''CI project successfully completed '
         SLACK_TITLE: 'CI project successfully completed '



      #- name: Run curl
       # run: |
        #  curl http://localhost:3000

      #- name: Snyk example
      #- uses: actions/checkout@master
      #- uses: snyk/actions/setup@master
      #- uses: actions/setup-go@v1
      #  with:
      #    go-version: '1.13'
     
 Snyk-security:
    needs: CI-Build-Test-Push
    runs-on: ubuntu-latest
    steps:          
      - name: Snyk Infrastructure as Code scan
        id: snyk-iac-scan
        uses: Gershon-A/snyk-iac-code-security-checks@v1.0.1
        continue-on-error: true
        with:
          SNYK_TOKEN: ${{ secrets.SNYKTOKEN }}
          SEVERITY_THRESHOLD: "critical"
          FILE: "example-*"
          update_pr_with_scan_results: true




      #- name: Run Snyk to check Docker image for vulnerabilities
      #  uses: snyk/actions/docker@master
      #  env:
      #    SNYK_TOKEN: ${{ secrets.SNYKTOKEN }}
      #  with:
      #    image: lordagam/Tomer-Joseph_project-test


  
  #    - name: change image name 
   #     run: docker tag my-image-name:latest lordagam/github-repo-hello-world-war5:latest
   #   - name: Login to Docker Hub
   #     uses: docker/login-action@v2
   #     with:
   #         username: ${{ secrets.DOCKERHUB_USERNAME }}
   #         password: ${{ secrets.DOCKERHUB_TOKEN }}
   #   - name: docker-compose push
   #     run: docker-compose push lordagam/project-test
  #     #run: docker push lordagam/project_jo_tomer:frontend
        #run: docker push lordagam/project_jo_tomer:backend
        #run: docker push lordagam/project_jo_tomer:mariadb


 CD-Terraform:
    needs: Snyk-security
    runs-on: self-hosted
    environment: production

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: go to dir-file 
      run: cd /home/ec2-user/actions-runner/_work/Tomer-Joseph_project/Tomer-Joseph_project

    - name: pwd
      run: pwd 

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    #- name: Setup Terraform
    #  uses: hashicorp/setup-terraform@v1
    #  with:
    #    cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: terraform init
      run:  terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: terraform validate
      run: terraform validate
      
    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: terraform plan

      # On push to "main", build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
      #if: github.ref == 'refs/heads/"main"' && github.event_name == 'push'
    - name: issue-prod-argocd
      run: kubectl apply -f issue-prod-argocd.yaml

    - name: argo-ingress
      run: kubectl apply -f argo-ingress.yaml
      


 slack-Notification:
   name: Slack Notification 
   needs: CD-Terraform
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@master
     - name: Slack Notification 
       uses: bryannice/gitactions-slack-notification@2.0.0
       env:
        SLACK_INCOMING_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK }}
        SLACK_MESSAGE: 'DevOps pipeline''CI/CD project successfully completed '
        SLACK_TITLE: 'CI/CD project successfully completed '
